{{!-- Color scheme dropdown --}}
<div class="color-scheme flex flex-cc radius-half">
  <span class="color-scheme-symbol"></span>
  <select class="color-scheme-select radius-half js-color-scheme-select" aria-label="{{t "Change color scheme"}}">
    <option value="system" >{{t "System"}}</option>
    <option value="light" selected>{{t "Light"}}</option>
    <option value="dark">{{t "Dark"}}</option>
    <option value="midnight">{{t "Midnight"}}</option>
    <option value="ivory">{{t "Ivory"}}</option>
    <option value="skyblue">{{t "Skyblue"}}</option>
  </select>
  {{> icon name="select"}}
</div>