{{!-- CTA section --}}
{{#if @site.members_enabled}}
  {{#unless @site.members_invite_only}}
    {{#unless @member}}
      <section class="container wrapper section section-cta is-rel flex flex-cc radius m-b-0{{#is "home"}} is-home{{/is}}{{#is "post"}} is-post{{/is}}" 
      data-bg-accent="{{@custom.background_accent}}">
        <div class="section-cta__content flex flex-col flex-cc is-rel z-index-1 max-w-40">
          <h2 class="section-cta__title">{{#if @custom.cta_headline}}{{@custom.cta_headline}}{{else}}{{@site.title}}{{/if}}</h2>
          <p id="cta-input-label" class="section-cta__description opacity-075">{{#if @custom.cta_description}}{{@custom.cta_description}}{{else}}{{@site.description}}{{/if}}</p>
          
          {{> subscribe-form 
            form_type="signup"
            form_style="inline"
            form_class=""
            input_class="bg-opaque"
            input_label="cta-input-label"
            button_text=(t 'Subscribe') 
            button_class="btn--brand btn--gradient uppercase"
          }}
        </div>
      </section>
    {{/unless}}
  {{/unless}}
{{/if}}