<div class="post-hero{{#is "post"}} is-post{{/is}}{{#is "page"}} is-page{{/is}}{{#if featured}} is-featured{{/if}}" 
  data-feature-image="{{#if feature_image}}true{{else}}false{{/if}}" {{#if image_style}}data-image-style="{{image_style}}"{{/if}}>
  <div class="post-hero__content flex flex-col{{#is "page"}}{{#match image_style "!=" "side"}} flex-cc{{/match}}{{/is}}">

    {{#is "post"}}
      {{#foreach tags limit="1"}}
        <a href="{{url}}" class="post-hero__tag" {{#if accent_color}}style="--color-accent: {{accent_color}}"{{/if}}>{{name}}</a>
      {{/foreach}}
    {{/is}}

    {{!-- Title --}}
    <h1 class="post-hero__title{{#is "page"}} m-b-0{{#match image_style "!=" "side"}} text-center{{/match}}{{/is}}">{{title}}</h1>

    {{#if custom_excerpt}}
      <div class="post-hero__excerpt text-acc{{#is "page"}}{{#match image_style "!=" "side"}} text-center{{/match}}{{/is}}">{{custom_excerpt}}</div>
    {{/if}}

    {{!-- Authors & date --}}
    {{#is "post"}}
      <div class="post-hero__info">
        <span class="post-hero__authors">{{authors}}</span>
        <time class="post-hero__date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time> 
        {{#if reading_time}}<span class="post-hero__readtime">{{reading_time minute=(t '1 min read') minutes=(t '% min read')}}</span>{{/if}}
      </div> 
    {{/is}}
  </div>

  {{!-- Image --}}
  {{#if feature_image}}
    <div class="post-hero__media">
      <figure class="post-hero__figure">
        <img
          class="lazyload post-hero__img"
          data-srcset="{{img_url feature_image size="s"}} 300w,
                  {{img_url feature_image size="m"}} 600w,
                  {{img_url feature_image size="l"}} 1000w,
                  {{img_url feature_image size="xl"}} 2000w"
          srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-sizes="auto"
          data-src="{{img_url feature_image size="s"}}"
          src="{{img_url feature_image size="xs"}}"
          alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"/>
        {{#if feature_image_caption}}
          <figcaption>{{feature_image_caption}}</figcaption>
        {{/if}}
      </figure>
    </div>
  {{/if}}
</div>