{{!-- Post Card --}}
<article class="post-card{{#if feature_image}} has-img{{else}} no-image{{/if}}{{#if featured}} is-featured{{/if}}{{#if class}} {{class}}{{/if}} js-post-card"> 

  {{!-- Feature Image --}}
  {{#if feature_image}}
    {{#unless hide_img}}
      {{#link href=url class="post-card__media"}}
        <figure class="post-card__figure">
          <img class="lazyload post-card__img"
            data-srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-sizes="auto"
            data-src="{{img_url feature_image size="s"}}"
            src="{{img_url feature_image size="xxs"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
          />
        </figure>
      {{/link}}
    {{/unless}}
  {{/if}}

  {{!-- Post card content --}}
  <div class="post-card__content {{content_class}}">

    <div class="post-card__header flex items-center m-b-sm">
      {{!-- Post Card main tag --}}
      {{#foreach tags limit="1"}}
        <a class="post-card__tag tag-{{slug}}" href="{{url}}" aria-label="{{name}}"
          {{#if accent_color}} style="--color-accent: {{accent_color}}"{{/if}}
        >{{name}}</a>
      {{/foreach}}

      {{!-- Element for spacing --}}
      <span class="flex-1"></span>

      {{!-- Post access/visibility --}}
      {{#match visibility "!=" "public"}}
        <div class="post-card__visibility{{#if access}} has-access{{/if}}">
          {{#if access}}{{> icon name="lock-open" size="sm"}}{{else}}{{> icon name="lock" size="sm"}}{{/if}}
          <span {{#has visibility="tiers"}}data-tiers="{{tiers}}"{{/has}}>
            {{#has visibility="tiers"}}{{tiers}}{{else}}{{visibility}}{{/has}}
          </span>
        </div>
      {{/match}}

      {{!-- Featured --}}
      {{#if featured}}
        <span class="post-card__featured flex flex-cc">{{> icon name="star" size="sm" icon_class="filled"}}</span>
      {{/if}}
    </div>

    {{!-- Post Card Title --}}
    <h2 class="post-card__title">
      {{#link href=url aria-label=(title)}}{{title}}{{/link}}
    </h2>

    {{!-- Post card excerpt --}}
    {{#if custom_excerpt}}
      <div class="post-card__excerpt opacity-080">
        {{custom_excerpt}}
      </div>
    {{else}}
      {{#if excerpt}} 
        <div class="post-card__excerpt opacity-080">
          {{excerpt words="20"}}
        </div>
      {{/if}}
    {{/if}}

    {{!-- Post Card author & date --}}
    <div class="post-card__info">
      <span class="post-card__authors">{{authors}}</span>
      <time class="post-card__date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time> 
      {{#if reading_time}}<span class="post-card__readtime">{{reading_time minute=(t '1 min read') minutes=(t '% min read')}}</span>{{/if}}
    </div> 
    
  </div>

</article>