<aside class="sidebar">
  {{!-- Sidebar featured posts --}}
  {{#get "posts" filter="featured:true+id:-{{id}}" limit="5" include="authors,tags" as |featured|}}
    {{#if posts}}
    <span class="section-title sm">{{t "Featured posts"}}</span>
    <div class="sidebar__section">
      {{#foreach featured}}
        {{#link href=url class="sidebar-story"}}
          {{#if feature_image}}
            <figure class="sidebar-story__media m-r">
              <img 
                class="lazyload" 
                data-sizes="auto"
                data-src="{{img_url feature_image size="xs"}}"
                src="{{img_url feature_image size="xxs"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
              />
            </figure>
          {{/if}}
          <div class="sidebar-story__content">
            <h3 class="sidebar-story__title">{{title}}</h3>

            <div class="sidebar-story__info">
              <time datetime="{{date format='YYYY-MM-DD'}}" class="sidebar-story__date">
                {{date published_at format="DD MMM YYYY"}}
              </time>
            </div>
          </div>
        {{/link}}
      {{/foreach}}
    </div>
    {{/if}}
  {{/get}}

  {{!-- Sidebar latest posts --}}
  {{#get "posts" filter="featured:false+id:-{{id}}" limit="3" include="authors,tags" as |latest|}}
    <span class="section-title sm">{{t "Latest posts"}}</span>
    <div class="sidebar__section">   
      {{#foreach latest}}
        {{#link href=url class="sidebar-story"}}
          {{#if feature_image}}
            <figure class="sidebar-story__media m-r">
              <img 
                class="lazyload" 
                data-sizes="auto"
                data-src="{{img_url feature_image size="xs"}}"
                src="{{img_url feature_image size="xxs"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
              />
            </figure>
          {{/if}}
          <div class="sidebar-story__content">
            <h3 class="sidebar-story__title">{{title}}</h3>

            <div class="sidebar-story__info">
              <time datetime="{{date format='YYYY-MM-DD'}}" class="sidebar-story__date">
                {{date published_at format="DD MMM YYYY"}}
              </time>
            </div>
          </div>
        {{/link}}
      {{/foreach}}
    </div>
  {{/get}}

  {{!-- Subscribe--}}
  {{#if @site.members_enabled}}
    {{#unless @site.members_invite_only}}
      {{#unless @member}}
        <div class="sidebar__section is-sticky flex flex-cc">
          <div class="sidebar__subscribe bg-acc">
            <h4 class="text-acc fw-800">
              {{#if @custom.cta_headline}}{{@custom.cta_headline}}{{else}}{{@site.title}}{{/if}}
            </h4>
            <div class="m-b text-acc" id="sidebar-input-label">
              {{#if @custom.cta_description}}
                {{@custom.cta_description}}
              {{else}}
                {{@site.description}}
              {{/if}}
            </div>
            {{> subscribe-form 
              input_label="sidebar-input-label"
            }}
          </div>
        </div>
      {{/unless}}
    {{/unless}}
  {{/if}}
</aside>
