{{!< default}}

<div class="signup-page flex flex-cc" data-image-style="right">
  {{#if @member.paid}}

    {{!-- Logged in, paying member: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>

  {{else if @member}}

    {{!-- Logged in, paying member: Redirect to account page --}}
    <script>window.location = '/account/';</script>
    {{!-- Portal link --}}
    {{!-- <script>window.location = '{{@site.url}}/#/portal/account/';</script> --}}
    
  {{else}}
    <div class="signup-page__content">
      <a href="{{@site.url}}" class="signup-page__brand">
        {{#if @site.logo}}
          <img src="{{img_url @site.logo size="s"}}" alt="{{@site.title}}"/>
        {{else}}
          {{@site.title}}
        {{/if}}
      </a>

      <div class="signup-page__box">
        {{#unless @site.members_invite_only}}
          <h1 class="signup-page__title">{{#page}}{{title}}{{else}}{{t "Sign up"}}{{/page}}</h1>
          <p id="form-input-label" class="opacity-080">{{#page}}{{excerpt}}{{else}}{{t "Sign up to {sitetitle} to get access to premium content." sitetitle=@site.title}}{{/page}}</p>
          
          {{> subscribe-form 
            form_type="signup" 
            form_class=""
            button_class="uppercase btn--brand"
            button_text=(t 'Continue') 
            name_field=true
          }}
        {{else}}
          <p class="text-center text-11 fw-600">{{t "This site is invite-only, contact the owner for access."}}</p>
        {{/unless}}
        <p class="m-0 m-t text-center">
          <small>{{t "Already have an account?"}} 
            {{#link href="/signin/"}}{{t "Sign in"}}{{/link}}
          </small>
        </p>
      </div>
    </div>
    {{#page}}
      {{#if feature_image}}
        <figure class="signup-page__media">
          <img class="lazyload"
            data-srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-sizes="auto"
            data-src="{{img_url feature_image size="m"}}"
            src="{{img_url feature_image size="xxs"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
          />
          {{#if feature_image_caption}}
            <figcaption>{{feature_image_caption}}</figcaption>
          {{/if}}
        </figure>
      {{/if}}
    {{/page}}
  {{/if}}
</div>